body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 20px;
}

table {
    width: 500px;
    border: solid black; 
    border-collapse: collapse;
}

th {
    background: white;
    border-bottom: solid black 2px;
}

tr:nth-child(odd) {
    background-color: gray;
}

td {
    text-align: center;
}